header{
    align-items:center;
    display:grid;
    grid-template-columns: 1fr 2fr;
    background-color: #3377aa;
    color: white;
    border-radius: 25px;
    padding: 20px;
}

footer {
    background-color: #3377aa;
    color: white;
}

h1 {

}

#content {
    padding: 1em;
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

body{
    background-color:#233D4D;
}

#inlineblock {
    display: inline-block;
}