@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
    padding: 0;
}

:root {
    --primary-color: #33658A;
    --secondary-color: #2F4858;
    --isActive: #55DDE0;
    --hover: #F26419;
}

html {
    background-color: var(--primary-color);
}

body {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

img {
    width: 75px;
    height: 75px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 2em;
}

p {
    margin-left: 5em;
    margin-right: 5em;
}

nav {
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.51);
    background-color: var(--secondary-color);
    max-width: 960px;  
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    overflow: hidden;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.75em;
    display: block;
}

.active {
    background-color: var(--isActive);
    color: black;
}

.active:hover {
    color: white;
    background-color: var(--hover);
}

nav a:hover {
    background-color: var(--hover);
}

.content {
    padding-bottom: 1em;
}

th,td {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    letter-spacing: 1px;
}

.background {
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
}

.nav {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 400;
}

.nav_active {
    background-color: var(--isActive);
    color: black;
    font-weight: 400;
}
.nav_hover{
    background-color: var(--hover);
    color: white;
    font-weight: 400;
}
.black {
    background-color: black;
    color: white;
    font-weight: 400;
}

.scenarios, .personas {
    text-align: justify;
}