@media only screen and (min-width: 640px) and (max-width: 1023px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    .navBar {
        display: block;
    }

    .amenities_list{
        grid-template-columns: 1fr 1fr;
    }

}